<body>
    
    <br><br> <br>
    
<div class="container">
    
    <h3 id="moto">"Our mission is to give our customers a place to celebrate life’s special moments by offering the best food, service, and ambiance in town."   
    </h3>
    </div>
    <br><br> 

<div class="row container-fluid">
    <div class="col">
    </div>

    <div class="d-flex justify-content-center align-items-center" style=" border-radius: 1em; padding: 2em; background-color:rgb(87, 206, 235, 0.6);">
        
        <form method="GET">
                <label class="label label-info label">User ID: </label> <input type="text" name="i_uid" size="20" data-toggle="popover" data-trigger="hover" title="Enter unique ID" data-content="expecting 8 characters"><br />
                <label class="label label-info">Password: </label> <input type="password" name="i_pass" size="20" data-toggle="tooltip" data-placement="right" title="Maximum 3 attempts allowed"> <br /><br />

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" >User Login</button>
                    <button type="button" class="btn btn-primary" >Register New Account</button>
                </div>
        </form>
    </div>

    <div class="col">
    </div>
</div>



</body>
