
<body >
    <div class="sidenav">
        <h5>Specials</h5>
        <a class="nav-link" (click)="viewMode='m01'">Original</a>
        <a class="nav-link" (click)="viewMode='m02'">Sweet & Spicy</a>
        <a class="nav-link" (click)="viewMode='m03'">Garlic</a>
        <a class="nav-link" (click)="viewMode='m04'">Oriental</a>
        <a class="nav-link" (click)="viewMode='m05'">Snowing Veg</a>
        <a class="nav-link" (click)="viewMode='m06'">Bulgogi</a>
        <a class="nav-link" (click)="viewMode='m07'">Freakin Hot</a>
        <a class="nav-link" (click)="viewMode='m08'">Lemon</a>

        <a class="nav-link" (click)="viewMode='other'">Other</a>
    </div>

    <div class="main">

        <div [ngSwitch]='viewMode'>
            <div *ngSwitchCase="'m01'">
                <h2>Original Chicken</h2>
                <img src="./assets/ca1/m01.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 20$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m02'">
                <h2>Sweet & Spicy</h2>
                <img src="./assets/ca1/m02.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 12$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m03'">
                <h2>Garlic</h2>
                <img src="./assets/ca1/m03.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 16$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m04'">
                <h2>Oriental</h2>
                <img src="./assets/ca1/m04.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 23$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m05'">
                <h2>Snowing Vegetable</h2>
                <img src="./assets/ca1/m05.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 20$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m06'">
                <h2>Bulgogi</h2>
                <img src="./assets/ca1/m06.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 32$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m07'">
                <h2>Freaking Hot</h2>
                <img src="./assets/ca1/m07.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 24$ per serving</h4>
            </div>
            <div *ngSwitchCase="'m08'">
                <h2>Lemon</h2>
                <img src="./assets/ca1/m08.jpg" alt="image not found" class="img-thumbnail rounded menuimg">
                <h4>Price: 22$ per serving</h4>
            </div>

            <div *ngSwitchCase="'other'">
<h2>Food we serve...</h2>
<img src="./assets/ca1/FFC-logo.png" style="height:300px">
<img src="./assets/ca1/{{ currentItem }}.jpg" class="multimg">
<img src="./assets/ca1/FFC-logo.png" style="height:300px">



<div class="row">
    <div class="col-md-6">
        <h3>Subscription</h3>
        <p>Subscribe to our weekly emails to get latest offeres, discounts and cupons.<br>
            Join our loyalty program to get attractive offers during New Year, Valentines day and other events.</p>

        <button type="button" class="btn btn-primary">Subscribe</button>
    </div>

    <div class="col-md-6">
        <h3>Other Services</h3>
        <ul>
            <li>Birthday Celebrations</li>
            <li>Annivasaries</li>
            <li>Festival Celebrations</li>
            <li>Office Events</li>
            <li>Catering Service</li>
            <li>Pre ordering available</li>
        </ul>

        <button type="button" class="btn btn-success">Inquire</button>
    </div>
</div>


            </div>
        </div>


    </div>

    <marquee behavior="alternate" direction="">by: Banuka Vidusanka</marquee>
</body>




